<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
<body>

<main>
    <div style="display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;">
        <div>

            <div class="col-sm">
              <h1 style="margin: 10px 38%;">Add A Product</h1>
                <form action="/admin/product" method="POST">

                    <div class="input-group mb-3">
                        <input type="text" placeholder="Product Name" name="product_name" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" placeholder="Product Price" name="product_price" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" placeholder="Image URL" name="imageUrl" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <textarea placeholder="Description" name="description" class="form-control"
                               aria-describedby="inputGroup-sizing-default"></textarea>
                    </div>
                    <button class="btn" style="color: #bc6ff1;background-color: #52057b;" type="submit">
                        Submit
                    </button>

                </form>
            </div>

        </div>
    </div>

</main>

<%- include('../includes/end.ejs') %>
</body>
</html>
