<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
<body>
  <main>
    <h1 style="margin: 100px 36%;">404 Page Error</h1>
  </main>
  <%- include('includes/end.ejs') %>
</body>

</html>
