<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
<body>

  <main>
    <div class="container" style="margin-top:30px;">
      <div class="col align-self-center">
      <ul class="list-group">
        <li class="list-group-item" aria-current="true">
          <div style="display:flex;
                       flex-direction: row ;
                       justify-content: space-between;
                       align-items: center;
            ">
            <img src="https://i2.wp.com/ceklog.kindel.com/wp-content/uploads/2013/02/firefox_2018-07-10_07-50-11.png" class="img-thumbnail" style="width:50px;height:50px;" alt="">
            <h4>Quantity:10 </h2>
            <h4>Price: $1000</h3>
          </div>
        </li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      </div>
    </div>
   

</main>

<%- include('../includes/end.ejs') %>
</body>

</html>
